{% extends "accounts_base.html" %}
{% load allauth i18n %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container mb-5" style="margin-top: 10rem">
        <h1 class="fw-bold">Log in </h1>
        <form method="POST" action="{% url 'account_login' %}">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="btn btn-primary " type="submit">Login</button>
        </form>
        <br>
        <p>Dont have an account? </p><a href="{% url 'account_signup' %}">Sign Up</a>
    </div>
{% endblock %}