{% extends 'base.html' %}

{% block content %}
    <section id="programs" class="d-flex flex-column align-items-center justify-content-center min-vh-100 bg-light"
             style="min-height: 600px">
        <div class="section-header container text-center">
            <h3 class="font-weight-bold">Disclaimer policy</h3>
        </div>
        <div class="container">
            <ol class="text-dark">

                <li>The information provided on the iconmat2025 website is for general informational purposes only. The
                    organizers make no representations or warranties of any kind, express or implied, about the
                    completeness, accuracy, reliability, suitability, or availability concerning the website or the
                    information, products, services, or related graphics contained on the website for any purpose.</li>
                <br>

                <li>Any reliance you place on such information is therefore strictly at your own risk. In no event will
                    the
                    organizers be liable for any loss or damage, including without limitation, indirect or consequential
                    loss or damage, or any loss or damage whatsoever arising from loss of data or profits arising out
                    of, or
                    in connection with, the use of the iconmat 2025 website.</li>
                <br>

                <li>The organizers do not endorse or make any representations about the external websites that may be
                    linked
                    to the iconmat 2025 website. These links are provided for convenience and informational purposes.
                    The
                    organizers are not responsible for the content or practices of third-party sites and do not make any
                    warranties or representations regarding the accuracy or completeness of any content on such
                    websites.</li>
                <br>

                <li>The inclusion of any link does not imply endorsement by the organizers. Users are encouraged to
                    review
                    the privacy policies and terms of use of any external websites linked from the iconmat 2025
                    website.</li>
                <br>

                <li>The organizers reserve the right to update or modify this disclaimer policy at any time without prior
                    notice. Users are encouraged to review this disclaimer periodically for changes.</li>
                <br>

                <li>If you have any questions or concerns regarding this disclaimer policy, please contact us at iconmat@cusat.ac.in</li>
                <br>

{#                <li>This Disclaimer Policy is effective as of 20/02/2024.</li>#}


            </ol>

        </div><!-- End Hero Section -->
    </section>
{% endblock %}
