{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section id="intro">
        <div class="intro-container wow fadeIn text-center">
            <h1 class="mb-2 pb-0">The 4<sup>th</sup> International Conference on<br>
                <span>Optoelectronic and Nanomaterials for Advanced Technology</span><br>(icONMAT 2025)
            </h1>
            <p class="mb-2 pb-0">February 11-14, 2025 at Cochin University of Science and Technology</p>
            <p class="mb-2 pb-0">Pre-conference workshop on 11<sup>th</sup> February 2025</p>

            <!--==========================
            Jointly Organized Section
            ============================-->
            <section id="jointly-organized" class="text-center">
                <p>Jointly Organized By:</p>
                <div class="d-flex justify-content-center align-items-center flex-wrap">
                    <div class="p-2">
                        <img class="img-fluid mx-1" src="{% static 'img/cam_logo.png' %}"
                             alt="Centre of Excellence Logo"
                             style="max-width: 80px; height: auto;">
                    </div>
                    <div class="p-2">
                        <img class="img-fluid mx-1" src="{% static 'img/dop_logo_bg.png' %}"
                             alt="Department of Physics Logo"
                             style="max-width: 250px; height: auto;">
                    </div>
                    <div class="p-2">
                        <img class="img-fluid mx-1" src="{% static 'img/cusat_logo.png' %}"
                             alt="CUSAT Logo"
                             style="max-width: 70px; height: auto;">
                    </div>
                </div>
            </section>
        </div>
    </section>


    <!--==========================
       About Section
    ============================-->
    <section id="about">
        <div class="container">
            <div class="section-header text-center mb-">
                <h2>About The Conference</h2>
            </div>
            <div class="row">
                <div class="col text-justify">
                    <p>The 4th International Conference on Optoelectronic and Nanomaterials for Advanced Technology
                        (icONMAT 2025) will be held at Cochin University of Science and Technology from February 11-14,
                        2025. This event marks the fourth in a series that was formerly known as OMTAT (Optoelectronic
                        Materials and Thin Films for Advanced Technology). The first two conferences, OMTAT 2005 and
                        OMTAT 2013, were held at Rivera Suites in Kochi, India, while the third, icONMAT 2019, took
                        place at Cochin University of Science and Technology.
                    </p>
                    <p>
                        The conference aims to foster collaboration between academia and industry in nanomaterials,
                        energy harvesting, energy storage, and ultrafast laser technologies. It will provide a platform
                        to showcase state-of-the-art techniques in synthesizing materials and designing nanostructures,
                        heterostructures, and thin films for specific applications. These high-performance materials
                        find uses in various applications, including gas sensors, photocatalysis, fuel cells, solar
                        cells, optics, transparent electronics, and high-definition displays.
                        The conference will delve into how factors such as process, architecture, size, and shape
                        influence material performance for specific applications.
                        Remarkable progress has been made in the field of ultrafast phenomena, with the spectral range
                        of ultrashort radiation pulses now extending to both long wavelengths like Terahertz radiation
                        and short wavelengths such as soft and hard X-rays. This versatility enables applications in
                        solar energy, molecular electronics, and optoelectronic devices.
                        The event will bring together scientists and engineers involved in the fabrication,
                        characterization, and modeling of optoelectronic materials and devices to discuss the latest
                        developments in the field.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section id="synopsys" class="py-5">
        <div class="container">
            <div class="section-header text-center mb-4">
                <h2 class="font-weight-bold display-4">Symposia</h2>
            </div>
            <div class="row">
                {% for syn in symposia %}
                    <div class="col-lg-4 col-md-6 mb-4 d-flex">
                        <div class="card w-100 d-flex flex-column position-relative">
                            {% if syn.image %}
                                <div class="image-container">
                                    <img src="{{ syn.image.url }}" class="card-img-top" alt="{{ syn.title }}">
                                    <div class="overlay">
                                        <p class="abstract">{{ syn.abstract|truncatewords:30 }}</p>
                                    </div>
                                </div>
                            {% endif %}
                            <div class="card-body d-flex flex-column">
                                <h5 class="card-title font-weight-bold">{{ syn.title }}</h5>
                                {#<a href="{% url 'symposia_list' %}" class="btn btn-primary mt-auto">Read More</a>#}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>



    <!--==========================
       Team Section
    ============================-->
    <section id="team" class="py-5">
        <div class="container">
            <div class="section-header text-center mb-5">
                <h2>Meet Our Team</h2>
            </div>

            <!-- Conference Patrons -->
            <div class="section-title text-center mb-3">
                <h4 class="font-weight-bold">Conference Patrons</h4>
            </div>
            <div class="row wow fadeInUp">
                {% for person in patrons %}
                    <div class="col-lg-3 col-md-4 col-sm-6 mb-4 d-flex">
                        <div class="card w-100 d-flex flex-column text-center">
                            {% if person.image %}
                                <img src="{{ person.image.url }}" alt="{{ person.name }}"
                                     class="card-img-top img-fluid"
                                     style="height: 300px; object-fit: cover; width: 100%;">
                            {% else %}
                                <img src="{% static 'img/default-profile.png' %}" alt="Default Profile"
                                     class="card-img-top img-fluid"
                                     style="height: 300px; object-fit: cover; width: 100%;">
                            {% endif %}
                            <div class="card-body d-flex flex-column">
                                <h5 class="card-title font-weight-bold">{{ person.name }}</h5>
                                <p class="card-text">{{ person.message }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <!-- Conference Chairs -->
            <div class="section-title text-center mb-3">
                <h4 class="font-weight-bold">Conference Chairs</h4>
            </div>
            <div class="row wow fadeInUp">
                {% for person in chairs %}
                    <div class="col-lg-3 col-md-4 col-sm-6 mb-4 d-flex">
                        <div class="card w-100 d-flex flex-column text-center">
                            {% if person.image %}
                                <img src="{{ person.image.url }}" alt="{{ person.name }}"
                                     class="card-img-top img-fluid"
                                     style="height: 300px; object-fit: cover; width: 100%;">
                            {% else %}
                                <img src="{% static 'img/default-profile.png' %}" alt="Default Profile"
                                     class="card-img-top img-fluid"
                                     style="height: 300px; object-fit: cover; width: 100%;">
                            {% endif %}
                            <div class="card-body d-flex flex-column">
                                <h5 class="card-title font-weight-bold">{{ person.name }}</h5>
                                <p class="card-text">{{ person.message }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>


            <!-- Advisory Committee -->
            <div class="section-title text-center mb-3">
                <h4 class="font-weight-bold">Advisory Committee</h4>
            </div>
            <div class="row wow fadeInUp">

                {% for adv in advisory_committee %}
                    <div class="col-lg-3 col-md-4 col-sm-6 mb-4 d-flex">
                        <div class="card w-100 d-flex flex-column text-center">
                            {% if adv.image %}
                                <img src="{{ adv.image.url }}" alt="{{ adv.name }}"
                                     class="card-img-top img-fluid"
                                     style="height: 300px; object-fit: cover; width: 100%;">
                            {% else %}
                                <img src="{% static 'img/default-profile.png' %}" alt="Default Profile"
                                     class="card-img-top img-fluid"
                                     style="height: 300px; object-fit: cover; width: 100%;">
                            {% endif %}
                            <div class="card-body d-flex flex-column">
                                <h5 class="card-title font-weight-bold">{{ adv.name }}</h5>
                                <h6 class="card-subtitle mb-2 ">{{ adv.designation }}</h6>
                                <p class="card-text">{{ adv.message }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <!-- Local Advisory Committee -->
            <div class="section-title text-center mb-3">
                <h4 class="font-weight-bold">Local Advisory Committee</h4>
            </div>
            <div class="row wow fadeInUp">

                {% for adv in local_advisory_committee %}
                    <div class="col-lg-3 col-md-4 col-sm-6 mb-4 d-flex">
                        <div class="card w-100 d-flex flex-column text-center">
                            {% if adv.image %}
                                <img src="{{ adv.image.url }}" alt="{{ adv.name }}"
                                     class="card-img-top img-fluid"
                                     style="height: 300px; object-fit: cover; width: 100%;">
                                {#                                <img src="{% static 'img/default-profile.png' %}" alt="Default Profile"#}
                                {#                                     class="card-img-top img-fluid"#}
                                {#                                     style="height: 300px; object-fit: cover; width: 100%;">#}
                            {% endif %}
                            <div class="card-body d-flex flex-column">
                                <h5 class="card-title font-weight-bold">{{ adv.name }}</h5>
                                <h6 class="card-subtitle mb-2 ">{{ adv.designation }}</h6>
                                <p class="card-text">{{ adv.message }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>



    <!--==========================
       Venue Section
    ============================-->
    <section id="venue" class="container-fluid mb-0 wow fadeInUp" style="margin-bottom: 0;">
        <div class="container-fluid mb-0" style="margin-bottom: 0;">
            <div class="section-header text-center mb-4">
                <h2>Conference Venue</h2>
            </div>
            <div class="row no-gutters">
                <div class="col-lg-6 venue-map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3928.6723259052646!2d76.32209752607413!3d10.043874790063802!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b080d223eeb1de1%3A0xce06a9f0d256857a!2sSeminar%20Complex%2C%20CUSAT!5e0!3m2!1sen!2sin!4v1723393291682!5m2!1sen!2sin"
                            frameborder="0" style="border:0; width: 100%; height: 400px;" allowfullscreen></iframe>
                </div>

                <div class="col-lg-6 venue-info">
                    <div class="row justify-content-center">
                        <div class="col-11 col-lg-8">
                            <h3>February 11-14, 2025</h3>
                            <p>Seminar Complex<br>Cochin University of Science and Technology<br>Kerala, India</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}


<!-- Custom Styles -->
{% block styles %}
    <style>
        .card {
            transition: transform 0.3s ease, box-shadow 0.3s ease;
        }

        .card:hover {
            transform: translateY(-10px);
        {#box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);#}
        }
    </style>
{% endblock %}