{% extends 'base.html' %}

{% block content %}
    <section id="programs" class="d-flex flex-column align-items-center justify-content-center min-vh-100 bg-light"
             style="min-height: 600px">
        <div class="section-header container text-center">
            <h3 class="font-weight-bold">Privacy Policy</h3>
        </div>
        <div class="container">
            <p>This Privacy Policy outlines how information is collected, used, and protected on the iconmat 2025
                website.</p>
            <br>

            <h4 class="text-dark">Information Collection</h4>
            <p>We may collect personal information, including but not limited to names, email addresses, and
                affiliations, during the registration and abstract submission processes for iconmat 2025. This
                information is used solely for conference-related purposes.</p>
            <br>

            <h4 class="text-dark">Information Usage</h4>
            <p>Collected information may be used for the following purposes:</p>
            <ul>
                <li>Conference registration and communication</li>
                <li>Abstract submission and review</li>
                <li>Conference-related announcements and updates</li>
            </ul>

            <h4 class="text-dark">Information Protection</h4>
            <p>We are committed to ensuring the security and confidentiality of collected information. Access to
                personal data is restricted to authorized personnel only, and appropriate measures are in place to
                prevent unauthorized access or disclosure.</p>
            <br>

            <h4 class="text-dark">Third-Party Links</h4>
            <p>The iconmat 2025 website may contain links to third-party websites. We are not responsible for the
                privacy practices or content of these external sites. Users are encouraged to review the privacy
                policies of linked websites.</p>
            <br>

            <h4 class="text-dark">Changes to Privacy Policy</h4>
            <p>We reserve the right to update or modify this Privacy Policy at any time. Changes will be reflected on
                this page. Users are advised to review the Privacy Policy periodically for updates.</p>
            <br>

            <h4 class="text-dark">Contact Information</h4>
            <p>If you have any questions or concerns regarding this Privacy Policy, please contact us at
                iconmat@cusat.ac.in</p>

{#            <p>This Privacy Policy is effective as of 20/02/2024.</p>#}
        </div>  

    </section>
{% endblock %}
