{% extends 'base.html' %}
{% load static %}

{% block content %}
<section id="programs" class="d-flex align-items-center justify-content-center min-vh-100 mt-5">
    <div class="container">
        <div class="section-header text-center mb-5">
            <h2 class="fw-bold">Programs</h2>
            <p class="text-muted">Explore available templates and resources.</p>
        </div>

        <!-- Card Grid -->
        <div class="row row-cols-1 row-cols-md-3 g-4 text-start">
            <div class="col">
                <div class="card h-100 border-1 rounded-sm">
                    <div class="card-body d-flex flex-column justify-content-between">
                        <h4 class="card-title">Poster Template</h4>
{#                        <p class="card-text mb-4 text-muted">Get a professionally designed poster template to elevate your visuals.</p>#}
                        <a href="{% static 'files/poster_template.pptx' %}" class="btn btn-sm btn-outline-danger w-100">Download</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 border-1 rounded-sm">
                    <div class="card-body d-flex flex-column justify-content-between">
                        <h4 class="card-title">Technical Programme Schedule</h4>
{#                        <p class="card-text mb-4 text-muted">Get a professionally designed poster template to elevate your visuals.</p>#}
                        <a href="{% static 'files/program_schedule.pdf' %}" class="btn btn-sm btn-outline-danger w-100">Download</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 border-1 rounded-sm">
                    <div class="card-body d-flex flex-column justify-content-between">
                        <h4 class="card-title">List of Talks and Presentations</h4>
{#                        <p class="card-text mb-4 text-muted">Get a professionally designed poster template to elevate your visuals.</p>#}
                        <a href="{% static 'files/talk_and_presentation.pdf' %}" class="btn btn-sm btn-outline-danger w-100">Download</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 border-1 rounded-sm">
                    <div class="card-body d-flex flex-column justify-content-between">
                        <h4 class="card-title">Pre Conference Schedule</h4>
{#                        <p class="card-text mb-4 text-muted">Get a professionally designed poster template to elevate your visuals.</p>#}
                        <a href="{% static 'files/pre_conference.pdf' %}" class="btn btn-sm btn-outline-danger w-100">Download</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="section-header text-center mb-5">
    <h2 class="fw-bold">Awards</h2>
    <p class="text-muted">Celebrating excellence in research with prestigious awards </p>
</div>

<div class="row row-cols-1 row-cols-md-3 g-4 text-start mb-5">


   <div class="col">
        <div class="card h-100 border-1 rounded-sm">
            <div class="card-body d-flex flex-column justify-content-between">
                <h4 class="card-title">Best Oral Presentation</h4>
                <p class="card-text mb-4 text-muted">Presented to the individual with the most engaging and informative oral presentation at the event.</p>
            </div>
        </div>
   </div>

   <div class="col">
        <div class="card h-100 border-1 rounded-sm">
            <div class="card-body d-flex flex-column justify-content-between">
                <h4 class="card-title">Best Flash Presentation</h4>
                <p class="card-text mb-4 text-muted">This award honors the presenter who delivers the most compelling and dynamic flash presentation.</p>
            </div>
        </div>
   </div>

   <div class="col">
        <div class="card h-100 border-1 rounded-sm">
            <div class="card-body d-flex flex-column justify-content-between">
                <h4 class="card-title">Best Poster Presentation</h4>
                <p class="card-text mb-4 text-muted">This award celebrates the best poster presentation, recognizing clarity, creativity, and depth of research.</p>
            </div>
        </div>
   </div>
    <div class="col">
        <div class="card h-100 border-1 rounded-sm">
            <div class="card-body d-flex flex-column justify-content-between">
                <h4 class="card-title">Women in Optics</h4>
                <p class="card-text mb-4 text-muted">Sponsored by Edmund Optics</p>
                <p>This award recognizes outstanding contributions to the optics field by women.</p>
            </div>
        </div>
   </div>
</div>

    </div>
</section>
{% endblock %}