{% extends 'base.html' %}

{% block content %}
    <section id="programs" class="d-flex flex-column align-items-center justify-content-center min-vh-100 bg-light"
             style="min-height: 600px">
        <div class="section-header container text-center">
            <h3 class="font-weight-bold">Refund policy </h3>
        </div>
        <div>
            <p>This Refund Policy outlines the terms and conditions regarding refunds for iconmat 2025 registration
                fees.</p>
            <br>

            <h4 class="text-dark">Registration Fees</h4>
            <p>Registration fees for iconmat 2025 are non-refundable after payment is made. Once registration is
                complete
                and payment has been processed, no refunds will be issued.</p>
            <br>
            <h4 class="text-dark">Contact Information</h4>
            <p>If you have any questions or concerns regarding this Refund Policy, please contact us at
               iconmat@cusat.ac.in</p>
            <br>

{#            <p>This Refund Policy is effective as of 20/02/2024.</p>#}

        </div><!-- End Hero Section -->
    </section>
{% endblock %}
