{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Accommodation Information{% endblock %}

{% block content %}


    <div class="container ">
        {% include 'others/registration_progress.html' %}

        <div class="row justify-content-center">
            <div class="col-md-6 w-100  mb-5">
                <h2>Accommodation Information</h2>
                <form method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}

                    <div class="card w-100 my-3 p-4 mb-4">
                        <h5 class="fw-bold">Accommodation:</h5>
                        <p class="pb-1">
                            Accommodation is only available for Foreign Delegates.
                        </p>
                    </div>
                    <button type="submit" class="btn btn-primary">Next</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}