{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Review and Payment{% endblock %}

{% block content %}
    <div class="container">
        {% include 'others/registration_progress.html' %}

        <div class="row justify-content-center mb-5">
            <div class="col-md-10 col-lg-8">
                <h2 class="text-center mb-4">Review and Payment</h2>

                <!-- Personal Information Table -->
                <div class="table-responsive mb-4">
                    <table class="table table-bordered">
                        <thead class="">
                        <tr>
                            <th colspan="2" class="text-center">Personal Information</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><strong>Title</strong></td>
                            <td>{{ registration.title }}</td>
                        </tr>
                        <tr>
                            <td><strong>First Name</strong></td>
                            <td>{{ registration.first_name }}</td>
                        </tr>
                        <tr>
                            <td><strong>Last Name</strong></td>
                            <td>{{ registration.last_name }}</td>
                        </tr>
                        <tr>
                            <td><strong>Designation</strong></td>
                            <td>{{ registration.designation }}</td>
                        </tr>
                        <tr>
                            <td><strong>Affiliation/Institution</strong></td>
                            <td>{{ registration.affiliation_or_institution }}</td>
                        </tr>
                        <tr>
                            <td><strong>Email</strong></td>
                            <td>{{ registration.email }}</td>
                        </tr>
                        <tr>
                            <td><strong>Contact Number</strong></td>
                            <td>{{ registration.contact_number }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <!-- Location & Category Table -->
                <div class="table-responsive mb-4">
                    <table class="table table-bordered">
                        <thead class="">
                        <tr>
                            <th colspan="2" class="text-center">Location & Category</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><strong>Country</strong></td>
                            <td>
                                {% if registration.country == 'Other' %}
                                    {% if not registration.other_country %}
                                        <p class="text-danger">No Country Specified</p>
                                    {% else %}
                                        {{ registration.other_country }}
                                    {% endif %}
                                {% else %}
                                    {{ registration.country }}
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Category of Participant</strong></td>
                            <td>{{ registration.category_of_participant }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <!-- Conference Details Table -->
                <div class="table-responsive mb-4">
                    <table class="table table-bordered">
                        <thead class="">
                        <tr>
                            <th colspan="2" class="text-center">Conference Details</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><strong>Conference Registration</strong></td>
                            <td>{% if registration.conference_registration %} Yes {% else %} No {% endif %}</td>
                        </tr>
                        <tr>
                            <td><strong>Pre-conference Workshop Registration</strong></td>
                            <td>{% if registration.pre_conference_workshop_registration %} Yes {% else %}
                                No {% endif %}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                {% if registration.foriegn_delegates %}
                    <!-- Accommodation Preferences Table -->
                    <div class="table-responsive mb-4">
                        <table class="table table-bordered">
                            <thead class="">
                            <tr>
                                <th colspan="2" class="text-center">Accommodation Preferences</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td><strong>Accommodation Preference</strong></td>
                                <td>{{ registration.accommodation_preference }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                {% endif %}

                <!-- Fee Details Table -->
                <div class="table-responsive mb-4">
                    <table class="table table-bordered">
                        <thead class="">
                        <tr>
                            <th colspan="2" class="text-center">Fee Details</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><strong>Registration Fee</strong></td>
                            <td>₹{{ registration.fee_structure.registration_fee }}</td>
                        </tr>
                        <tr>
                            <td><strong>Pre-conference Workshop Fee</strong></td>
                            <td>₹{{ registration.fee_structure.pre_conference_workshop_fee }}</td>
                        </tr>
                        {% if registration.foriegn_delegates %}
                        <tr>
                            <td><strong>Accommodation Fee</strong></td>
                            <td>₹{{ registration.fee_structure.accommodation_fee }}</td>
                        </tr>
                        {% endif %}
                        </tbody>
                        <tfoot>
                        <tr class="table-success">
                            <td><strong>Total Fee</strong></td>
                            <td class="fw-bold fs-4">₹{{ registration.fee_structure.total_fee }}</td>
                        </tr>
                        </tfoot>
                    </table>
                </div>

                <div class="text-center mt-4">
                    <a href="{% url 'initiate_payment' %}" class="btn btn-primary btn-lg w-100">Proceed to Payment</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
