{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>icONMAT 2025</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicons -->
    {# <link href="{% static 'img/favicon.png' %}" rel="icon"> #}

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800"
          rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="{% static 'lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/venobox/venobox.css' %}" rel="stylesheet">
    <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
          rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>

<body>

<!--==========================
  Header
============================-->
<header id="header">
    <div class="container">

        <div id="logo" class="pull-left">
            {#        <a href="#intro" class="scrollto"><img src="{% static 'img/logo.png' %}" alt="" title=""></a>#}
        </div>

        <nav id="nav-menu-container">
            <ul class="nav-menu">
                <li class="{% if request.path == '/' %}menu-active{% endif %}"><a href="{% url 'home' %}">Home</a></li>
                <li><a href="#team">Committee</a></li>
                <li class="{% if request.path == '/speakers/' %}menu-active{% endif %}"><a href="{% url 'speakers' %}">Speakers</a>
                </li>
                <li class="{% if request.path == '/programs/' %}menu-active{% endif %}"><a href="{% url 'programs' %}">Program </a>
                </li>
                <li class="{% if request.path == '/tourist_attractions/' %}menu-active{% endif %}"><a
                        href="{% url 'tourist_attractions' %}">Tourist Attractions</a></li>
                <li class="{% if request.path == '/contact/' %}menu-active{% endif %}"><a href="{% url 'contact' %}">Contact
                    Us</a></li>
                <li class="{% if request.path == '/registration/' %}menu-active{% endif %}"><a
                        href="{% url 'registration' %}">Registration</a></li>
            </ul>
        </nav><!-- #nav-menu-container -->
    </div>
</header><!-- #header -->

<!-- Content Section -->
{% block content %}
{% endblock %}

<!--==========================
  Footer
============================-->
<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-md-6 footer-info">
                    <img src="{% static 'img/iconmat_logo.png' %}" alt="TheEvenet">
                    <p>The 4th International Conference on Optoelectronic and Nanomaterials for Advanced Technology
                        (icONMAT 2025) will be held at Cochin University of Science and Technology from February 11-14,
                        2025.</p>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><i class="fa fa-angle-right"></i> <a href="{% url 'home' %}">Home</a></li>
                        <li><i class="fa fa-angle-right"></i> <a href="#team">Committie</a></li>
                        <li><i class="fa fa-angle-right"></i> <a href="{% url 'speakers' %}">Speakers</a></li>
                        <li><i class="fa fa-angle-right"></i> <a href="{% url 'programs' %}">Program</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><i class="fa fa-angle-right"></i> <a href="{% url 'tourist_attractions' %}">Tourist Attractions</a></li>
                        <li><i class="fa fa-angle-right"></i> <a href="{% url 'contact' %}">Contact Us</a></li>
                        <li><i class="fa fa-angle-right"></i> <a href="{% url 'registration' %}">Registration</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-contact">
                    <h4>Contact Us</h4>
                    <p>
                        Convenor
                        Department of Physics <br>
                        Cochin University of Science and Technology <br>
                        Kochi, Kerala, India <br>

                        {#                        <strong>Phone:</strong> +1 5589 55488 55<br>#}
                        <strong>Email:</strong> iconmat@cusat.ac.in <br>
                    </p>
                    <br>

                    <div class="social-links">
                        <a href="{{ social_link_instagram }}" class="instagram"><i class="fa fa-instagram"></i></a>
                        <a href="{{ social_link_facebook }}" class="facebook"><i class="fa fa-facebook"></i></a>
                        <a href="{{ social_link_linkedin }}" class="linkedin"><i class="fa fa-linkedin"></i></a>
                    </div>

                </div>

            </div>
        </div>
    </div>

    <div class="container">
        <div class="copyright">
            &copy; Copyright <strong>icONMAT 2025</strong>. All Rights Reserved
        </div>
        <div class="credits"><a href="https://bootstrapmade.com/"></a>
        </div>
    </div>
</footer><!-- #footer -->

<!-- JavaScript Libraries -->
<script src="{% static 'lib/jquery/jquery.min.js' %}"></script>
<script src="{% static 'lib/jquery/jquery-migrate.min.js' %}"></script>
<script src="{% static 'lib/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'lib/easing/easing.min.js' %}"></script>
<script src="{% static 'lib/superfish/hoverIntent.js' %}"></script>
<script src="{% static 'lib/superfish/superfish.min.js' %}"></script>
<script src="{% static 'lib/wow/wow.min.js' %}"></script>
<script src="{% static 'lib/venobox/venobox.min.js' %}"></script>
<script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>

<!-- Contact Form JavaScript File -->
<script src="{% static 'contactform/contactform.js' %}"></script>

<!-- Template Main Javascript File -->
<script src="{% static 'js/main.js' %}"></script>
</body>
</html>