{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>icONMAT 2025</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <!-- Essential Meta Tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title"
          content="icONMAT 2025 - 4th International Conference on Optoelectronic and Nanomaterials for Advanced Technology">
    <meta name="description"
          content="Join the 4th International Conference on Optoelectronic and Nanomaterials for Advanced Technology (icONMAT 2025) from February 11-14, 2025 at Cochin University of Science and Technology. This event explores advancements in nanomaterials, energy storage, ultrafast laser technologies, and more.">

    <!-- SEO Meta Tags -->
    <meta name="keywords"
          content="icONMAT 2025, International Conference, Optoelectronic Materials, Nanomaterials, Advanced Technology, Cochin University, CUSAT, energy harvesting, ultrafast lasers, solar cells, fuel cells, gas sensors, photocatalysis, optoelectronics, thin films, high-definition displays">
    <meta name="robots" content="index, follow">
    <meta name="author"
          content="Cochin University of Science and Technology, Department of Physics, Centre of Excellence">
    <meta name="language" content="English">
    <link rel="canonical" href="https://www.iconmat2025.cusat.ac.in/">

    <!-- Open Graph Meta Tags (for Facebook, LinkedIn, etc.) -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.iconmat2025.cusat.ac.in/">
    <meta property="og:title"
          content="icONMAT 2025 - 4th International Conference on Optoelectronic and Nanomaterials for Advanced Technology">
    <meta property="og:description"
          content="The 4th International Conference on Optoelectronic and Nanomaterials for Advanced Technology, taking place February 11-14, 2025, at Cochin University of Science and Technology. Join us to explore advancements in nanotechnology, energy solutions, and ultrafast laser applications.">
    <meta property="og:image" content="https://www.iconmat2025.cusat.ac.in/images/iconmat-banner.jpg">

    <!-- Twitter Card Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:url" content="https://www.iconmat2025.cusat.ac.in/">
    <meta name="twitter:title"
          content="icONMAT 2025 - 4th International Conference on Optoelectronic and Nanomaterials for Advanced Technology">
    <meta name="twitter:description"
          content="Join the icONMAT 2025 conference at CUSAT, February 11-14, 2025, for insights on nanomaterials, energy storage, and advanced laser applications.">
    <meta name="twitter:image" content="https://www.iconmat2025.cusat.ac.in/images/iconmat-banner.jpg">

    <!-- Favicon and Apple Touch Icon -->
    <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <link rel="apple-touch-icon" href="{% static 'img/apple-touch-icon.png' %}">


    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800"
          rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="{% static 'lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/venobox/venobox.css' %}" rel="stylesheet">
    <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
          rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css" rel="stylesheet">


    <!-- Main Stylesheet File -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    {% block styles %}
    {% endblock %}
</head>

<body>

<!--==========================
  Header
============================-->
<header id="header">
    <div class="container">

        <div id="logo" class="pull-left" >
            <a  href="{% url 'home' %}"><img src="{% static 'img/iconmat_logo.png' %}" alt="" title=""></a>
            {#            <a href="#intro" class="scrollto"><img height="80px" src="{% static 'img/cusat_logo.png' %}" alt="" title=""></a>#}
        </div>

        <nav id="nav-menu-container">
            <ul class="nav-menu">
                <li class="{% if request.path == '/' %}menu-active{% endif %}"><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'home' %}#team">Committee</a></li>
                <li class="{% if request.path == '/speakers/' %}menu-active{% endif %}"><a href="{% url 'speakers' %}">Speakers</a>
                </li>
                <li class="{% if request.path == '/programs/' %}menu-active{% endif %}"><a href="{% url 'programs' %}">Program </a>
                </li>
                <li class="{% if request.path == '/tourist_attractions/' %}menu-active{% endif %}"><a
                        href="{% url 'tourist_attractions' %}">Tourist Attractions</a></li>
                <li class="{% if request.path == '/contact/' %}menu-active{% endif %}"><a href="{% url 'contact' %}">Contact
                    Us</a></li>
                <li class="{% if request.path == '/registration/' %}menu-active{% endif %}"><a
                        href="{% url 'registration' %}">Registration</a>
                </li>
                <li class="{% if request.path == '/paper/abstract_details/' %}menu-active{% endif %}"><a
                        href="{% url 'abstract_details' %}">Submit Abstract</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="{% if request.path == '/accounts/logout/' %}menu-active{% endif %}"><a
                            href="{% url 'account_logout' %}">Logout</a>
                    </li>
                {% else %}
                    <li class="{% if request.path == '/accounts/signup/' %}menu-active{% endif %}"><a
                            href="{% url 'account_login' %}">Log in / Sign Up</a>
                    </li>
                {% endif %}

            </ul>
        </nav><!-- #nav-menu-container -->
    </div>
    <div>
        {% include 'others/marque_notification.html' %}
    </div>
</header><!-- #header -->

<!-- Content Section -->
<section id="base-container">
    {% block content %}
    {% endblock %}
</section>
<!--==========================
  Footer
============================-->
<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-md-6 footer-info">
                    <img src="{% static 'img/iconmat_logo.png' %}" alt="TheEvenet">
                    <p>The 4th International Conference on Optoelectronic and Nanomaterials for Advanced Technology
                        (icONMAT 2025) will be held at Cochin University of Science and Technology from February 11-14,
                        2025.</p>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><i class="fa fa-angle-right"></i> <a href="{% url 'home' %}">Home</a></li>
                        <li><i class="fa fa-angle-right"></i> <a href="#team">Committie</a></li>
                        <li><i class="fa fa-angle-right"></i> <a href="{% url 'speakers' %}">Speakers</a></li>
                        <li><i class="fa fa-angle-right"></i> <a href="{% url 'programs' %}">Program</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Links</h4>
                    <ul>
                        <li><i class="fa fa-angle-right"></i> <a href="{% url 'tourist_attractions' %}">Tourist
                            Attractions</a></li>
                        <li><i class="fa fa-angle-right"></i> <a href="{% url 'contact' %}">Contact Us</a></li>
                        <li><i class="fa fa-angle-right"></i> <a href="{% url 'registration' %}">Registration</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-contact">
                    <h4>Contact Us</h4>
                    <p>
                        Convener
                        icONMAT 2025 <br>
                        Cochin University of Science and Technology <br>
                        Kochi, Kerala, India <br>

                        {#                        <strong>Phone:</strong> +1 5589 55488 55<br>#}
                        <strong>Email:</strong> iconmat@cusat.ac.in <br>
                    </p>
                    <br>

                    <div class="social-links">
                        <a href="{{ social_link_instagram }}" class="instagram"><i class="fa fa-instagram"></i></a>
                        <a href="{{ social_link_facebook }}" class="facebook"><i class="fa fa-facebook"></i></a>
                        <a href="{{ social_link_linkedin }}" class="linkedin"><i class="fa fa-linkedin"></i></a>
                    </div>

                </div>

            </div>
        </div>
    </div>

    <div class="container">
        <div class="copyright">
            &copy; Copyright <strong>icONMAT 2025</strong>. All Rights Reserved
        </div>
        <div class="credits"><a href="https://bootstrapmade.com/"></a>
        </div>
    </div>
</footer><!-- #footer -->

<!-- JavaScript Libraries -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

<script src="{% static 'lib/jquery/jquery.min.js' %}"></script>
<script src="{% static 'lib/jquery/jquery-migrate.min.js' %}"></script>
<script src="{% static 'lib/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'lib/easing/easing.min.js' %}"></script>
<script src="{% static 'lib/superfish/hoverIntent.js' %}"></script>
<script src="{% static 'lib/superfish/superfish.min.js' %}"></script>
<script src="{% static 'lib/wow/wow.min.js' %}"></script>
<script src="{% static 'lib/venobox/venobox.min.js' %}"></script>
<script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
{% block scripts %}
{% endblock %}

<!-- Contact Form JavaScript File -->
<script src="{% static 'contactform/contactform.js' %}"></script>

<!-- Template Main Javascript File -->
<script src="{% static 'js/main.js' %}"></script>
</body>
</html>