{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- Header Section -->
    <section
            style="background-image: url('{% static 'img/cusat_adm.jpg' %}'); background-size: cover; background-position: center; height: 500px; display: flex; align-items: center; justify-content: center; color: #fff; text-align: center;">
    </section>

    <!-- Abstract Detail Section -->
    <section class="container my-5">
        <div class="section-header text-center mb-5">
            <h2 class="font-weight-bold display-4">Abstract Submission</h2>
        </div>

        <div class="row">
            <!-- Left Side (Image) -->
            <div class="col-md-6 mb-4 mb-md-0">
                <img src="{% static 'img/abstract_template.png' %}" alt="Abstract Image" class="border img-fluid w-100"
                     style="border-radius: 10px;">
            </div>

            <!-- Right Side (Description and Button) -->
            <div class="col-md-6 d-flex flex-column">
                <h4 class="font-weight-bold">Submit Your Research Abstract</h4>
                <p>Submit your research abstract here. Please follow the template guidelines for formatting and
                    submission.</p>

                <!-- Submission Dates Box -->
                <div class="mt-3">
                    <p>Authors are requested to submit one-page abstract online on or
                        before {{ dates.abstract_submission_end_date|date:"j" }}<sup>{{ dates.abstract_submission_end_date|date:"S" }}</sup>
                        {{ dates.abstract_submission_end_date|date:"F Y" }}</p>
                    <ul>
                        <li>Peer-reviewed papers will be published in <strong>SCOPUS Indexed Proceedings</strong>.</li>
                        <li>Selected papers will be published in <strong>Elsevier - Current Applied Physics
                            (IF: 2.4).</strong>
                        </li>
                        <li>Awards for Best Oral, Flash, and Poster Presentations.</li>
                    </ul>
                    <small class="text-danger">*Publication charges applicable if necessary.</small>

                    <div class="text-center mt-3">
                        <img src="{% static 'img/current_applied_phy.jpg' %}" alt="Current Applied Physics Journal"
                             class="img-fluid" style="max-height: 300px;">
                    </div>
                </div>

                <div class="mt-3">
                    <h6>
                        <strong>Abstract Submission:</strong>
                        {{ dates.abstract_submission_start_date|date:"j" }}<sup>{{ dates.abstract_submission_start_date|date:"S" }}</sup>
                        {{ dates.abstract_submission_start_date|date:"F Y" }}
                        to
                        {{ dates.abstract_submission_end_date|date:"j" }}<sup>{{ dates.abstract_submission_end_date|date:"S" }}</sup>
                        {{ dates.abstract_submission_end_date|date:"F Y" }}
                    </h6>
                    <h6>
                        <strong>Deadline:</strong> {{ dates.abstract_submission_end_date|date:"j" }}<sup>{{ dates.abstract_submission_end_date|date:"S" }}</sup>
                        {{ dates.abstract_submission_end_date|date:"F Y" }}
                    </h6>
                    <h6><strong>Acceptance of Abstract:</strong>
                        {{ dates.acceptance_of_abstract|date:"j" }}<sup>{{ dates.acceptance_of_abstract|date:"S" }}</sup> {{ dates.acceptance_of_abstract|date:"F Y" }}
                    </h6>
                </div>

                <!-- Download and Submit Links -->
                <a class="mt-3" target="_blank" href="{% static 'files/abstract_template_icONMAT.doc' %}">
                    Download Abstract Template
                </a>
                <a class="mt-3" href="{% url 'view_abstract' %}">
                    View Submitted Abstracts
                </a>
                <a class="btn btn-danger btn-sm mt-3" target="_blank" href="{% url 'abstract_submission' %}">
                    Submit Abstract
                </a>
            </div>
        </div>
    </section>
{% endblock %}

