{% block content %}

    <!-- Important Dates Section -->
    <section class="container my-5">
        <div class="section-header text-center mb-">
            <h2>Important Dates</h2>
        </div>
        <div class="row text-center">
            <!-- Abstract Submission Card -->
            <div class="col-md-4 col-sm-6 mb-4">
                <div class="card border-0 rounded-3 p-4">
                    <h5 class="card-title fw-bold mb-3">Abstract Submission</h5>
                    <strong class="card-text text-muted">{{ dates.abstract_submission_start_date|date:"jS F Y" }}
                        to {{ dates.abstract_submission_end_date|date:"jS F Y" }} </strong>
                </div>
            </div>

            <!-- Acceptance of Abstract Card -->
            <div class="col-md-4 col-sm-6 mb-4">
                <div class="card border-0 rounded-3 p-4">
                    <h5 class="card-title fw-bold mb-3">Acceptance of Abstract</h5>
                    <strong class="card-text text-muted">{{ dates.abstract_submission_start_date|date:"jS F Y" }}</strong>
                </div>
            </div>

            <!-- Early Bird Registration Card -->
            <div class="col-md-4 col-sm-6 mb-4">
                <div class="card border-0 rounded-3 p-4">
                    <h5 class="card-title fw-bold mb-3">Early Bird Registration</h5>
                    <strong class="card-text text-muted">{{ dates.early_bird_registration_start|date:"jS F Y" }}
                        to {{ dates.early_bird_registration_end|date:"jS F Y" }} </strong>
                </div>
            </div>

            <!-- Deadline for Full Paper Submission Card -->
            <div class="col-md-4 col-sm-6 mb-4">
                <div class="card border-0 rounded-3 p-4">
                    <h5 class="card-title fw-bold mb-3">Deadline for Full Paper Submission</h5>
                    <strong class="card-text text-muted">{{ dates.full_paper_submission_deadline|date:"jS F Y" }}</strong>
                </div>
            </div>

            <!-- Spot Registration for Indian Students & Faculties Card -->
            <div class="col-md-4 col-sm-6 mb-4">
                <div class="card border-0 rounded-3 p-4">
                    <h5 class="card-title fw-bold mb-3">Spot Registration for Indian Students & Faculties</h5>
                    <strong class="card-text text-muted">{{ dates.spot_registration_for_indian_students_and_faculties|date:"jS F Y" }}</strong>
                </div>
            </div>
            <!-- Event Date -->
            <div class="col-md-4 col-sm-6 mb-4">
                <div class="card border-0 rounded-3 p-4">
                    <h5 class="card-title fw-bold mb-3">Event Dates</h5>
                    <strong class="card-text text-muted">{{ dates.event_start_date|date:"jS F Y" }}
                        to {{ dates.event_end_date|date:"jS F Y" }} </strong>
                </div>
            </div>
        </div>
    </section>


{% endblock %}