<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Form</title>
</head>
<body>
<h1>Initiate Payment</h1>
<form method="POST" action="https://eazypayuat.icicibank.com/EazyPG">
    {% csrf_token %}

    <!-- Hidden fields for encrypted payment data -->
    <input type="hidden" name="merchantid" value="{{ merchantid }}">

    <input type="hidden" name="mandatory fields" value="{{ mandatoryFields }}">
    <input type="hidden" name="optional fields" value="{{ optionalFields }}">
    <input type="hidden" name="returnurl" value="{{ returnURL }}">
    <input type="hidden" name="Reference No" value="{{ referenceNo }}">
    <input type="hidden" name="submerchantid" value="{{ subMerchantId }}">
    <input type="hidden" name="transaction amount" value="{{ transactionAmount }}">
    <input type="hidden" name="paymode" value="{{ payMode }}">

    <!-- Submit Button -->
    <button type="submit">Submit Payment</button>

</form>
</body>
</html>
